<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Plain Description -->
    <title>{% if page.title %}{{page.title}} | {{site.title}}{% else %}{{site.title}}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
    <link rel="icon" type="image/png" href="/favicon.png">

    <!-- Facebook -->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{% if page.title %}{{page.title}} | {{site.title}}{% else %}{{site.title}}{% endif %}"/>
    <meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}"/>
    <meta property="og:image" content="{% if page.image %}{{page.image | absolute_url}}{% else %}{{site.image | absolute_url}}{% endif %}"/>
    <meta property="og:url" content="{{page.url | absolute_url}}"/>
    <meta property="og:site_name" content="{{ site.title }} "/>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{% if page.title %}{{page.title}} | {{site.title}}{% else %}{{site.title}}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">
    <meta name="twitter:image" content="{{site.image | absolute_url}}">
    <meta name="twitter:url" content="{{page.url | absolute_url}}">

    <!-- CSS & fonts -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- Put your fonts here -->
</head>
